attr==0.3.2
colorama==0.4.4
ConfigParser==7.1.0
cryptography==41.0.7
docutils==0.16
filelock==3.16.1
Flask==3.1.0
HTMLParser==0.0.2
ipython==8.12.0
ipywidgets==8.0.6
jnius==1.1.0
keyring==24.3.0
matplotlib==3.7.1
modules==1.0.0
pandas==2.2.3
Pillow==11.1.0
protobuf==5.29.2
pyOpenSSL==24.3.0
python-dotenv==1.0.1
redis==5.1.1
Sphinx==8.1.3
thread==2.0.5
urllib3_secure_extra==0.1.0
wordcloud==1.9.4
xmlrpclib==1.0.1
